<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DoS Detection System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
<body>

<header>
    <h1>DoS Detection Dashboard</h1>
    <div style="text-align: center; color: #a1a1aa; margin-top: -10px; padding-bottom: 10px;">
        {% if session.get('username') %}
            Conectado como: <strong>{{ session['username'] }}</strong> 
            | <a href="{{ url_for('auth.logout') }}" style="color: #ef4444;">Cerrar Sesión</a>
        {% elif session.get('guest') %}
            Conectado como: <strong>Invitado</strong> (Los datos no se guardarán)
            | <a href="{{ url_for('auth.logout') }}" style="color: #ef4444;">Salir</a>
        {% endif %}
    </div>
</header>

{% if request.endpoint not in ['main.index', 'auth.login', 'auth.register'] %}
<nav>
    <a href="{{ url_for('dashboard.dashboard') }}">Dashboard</a>
    <a href="/devices">Devices</a>
    <a href="/models">Models</a>
    <a href="/evaluation">Evaluation</a>
</nav>
{% endif %}

<div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}" style="padding: 10px; margin-bottom: 15px; border-radius: 5px;">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
</div>

</body>
</html>