{% extends "base.html" %}

{% block content %}

<div class="card">
    <h2>System Status</h2>

    <!--<div class="status">
        <div>
            <h3>Model</h3>
            <p id="model_status">Loading...</p>
        </div>

        <div>
            <h3>Detection</h3>
            <p id="detection_status">Loading...</p>
        </div>

        <div>
            <h3>Flows Processed</h3>
            <p id="flows">0</p>
        </div>

        <div>
            <h3>Attacks Detected</h3>
            <p id="attacks">0</p>
        </div>
    </div>-->
    <div class="status">

        <div class="metric">
            <h3>Model</h3>
            <p id="model_status">Loading...</p>
        </div>

        <div class="metric">
            <h3>Detection</h3>
            <p id="detection_status">Loading...</p>
        </div>

        <div class="metric">
            <h3>Flows</h3>
            <p id="flows">0</p>
        </div>

        <div class="metric">
            <h3>Attacks</h3>
            <p id="attacks">0</p>
        </div>

    </div>
</div>

<div class="card">
    <h2>Controls</h2>

    <button onclick="startDetection()">Start Detection</button>
    <button onclick="stopDetection()">Stop Detection</button>
</div>

<div class="card">
    <h2>Recent Alarms</h2>

    <ul id="alarms_list"></ul>
</div>

<script src="/static/js/dashboard.js"></script>

{% endblock %}