{% extends "base.html" %}

{% block content %}
<div class="action-blocks" style="height: 100%; display: flex; align-items: center; justify-content: center; gap: 200px;">
    
    <a href="{{ url_for('evaluacion.index') }}" class="cyber-card">
        <div class="cyber-card-inner">
            <img src="{{ url_for('static', filename='img/evaluacion.png') }}" class="cyber-icon-img" alt="Icono Evaluación">
            <h3 class="cyber-title">Evaluación</h3>
        </div>
    </a>
    
    <a href="{{ url_for('deteccion.index') }}" class="cyber-card">
        <div class="cyber-card-inner">
            <img src="{{ url_for('static', filename='img/deteccion.png') }}" class="cyber-icon-img" alt="Icono Detección">
            <h3 class="cyber-title">Detección</h3>
        </div>
    </a>

</div>
{% endblock %}