{% extends "base.html" %}

{% block body_class %}body-home{% endblock %}

{% block top_bar %}{% endblock %}

{% block container_class %}full-screen-container{% endblock %}

{% block content %}
<div class="transparent-card">
    <h2>Detección DoS On-Edge</h2>

    <div class="button-group">
        <a href="{{ url_for('auth.login') }}" class="btn-home btn-blue">Iniciar Sesión</a>
        <a href="{{ url_for('auth.register') }}" class="btn-home btn-green">Registrarse</a>
        
        <hr class="divider-home">
        
        <a href="{{ url_for('auth.guest') }}" class="btn-home btn-gray">Entrar como Invitado</a>
    </div>
</div>
{% endblock %}