{% extends "base.html" %}

{% block content %}
<div style="padding: 40px 60px;">
    <h2><span style="color: #08d6fe; background-color: #0f172ad3; padding: 2px 10px; border-radius: 6px; margin-bottom: 30px; font-size: 36px; letter-spacing: 1px;">Mis Modelos</span></h2>

    <div style="margin-top: 10px; margin-bottom: 10px; padding: 10px 10px; background: rgba(2, 6, 23, 0.726); border-left: 4px solid #08d6fe; border-radius: 6px; display: flex; align-items: center; gap: 15px;">
        <i class="fi fi-rr-info" style="color: #08d6fe; font-size: 20px;"></i>
        <p style="color: white; font-size: 16px; margin: 0; line-height: 1.5;">
            Gestiona los modelos de IA que has cargado en el sistema.
        </p>
    </div>

    <div class="table-header">
         <p></p>
        <button class="action-btn" onclick="openModal()">+ Subir Modelo</button>
    </div>

    <table class="glass-table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Fecha de Carga</th>
                <th>Último Uso</th>
                <th style="text-align: center;"> </th>
            </tr>
        </thead>
        <tbody>
            {% for modelo in modelos %}
            <tr>
                <td style="font-weight: bold;">{{ modelo.nombre }}</td>
                <td>{{ modelo.fecha_subida.strftime('%d/%m/%Y %H:%M') }}</td>
                <td>{{ modelo.fecha_ultimo_uso.strftime('%d/%m/%Y %H:%M') }}</td>
                <td style="text-align: center;">
                    <form action="{{ url_for('modelos.delete', model_id=(modelo.id if not session.get('guest') else loop.index0)) }}" 
                        method="POST" 
                        onsubmit="confirmAction(event, this, '¿Quiere eliminar este modelo?');"
                        style="display: inline;">
                        <button type="submit" class="delete-btn" title="Eliminar Modelo">
                            <i class="fi fi-tr-trash-xmark"></i>
                        </button>
                    </form>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="4" style="text-align: center; padding: 30px; opacity: 0.7;">No has subido ningún modelo todavía.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div style="margin-top: 30px; padding: 15px 20px; background: rgba(2, 6, 23, 0.726); border-left: 4px solid #ef4444; border-radius: 6px; display: flex; align-items: center; gap: 15px;">
        <i class="fi fi-tr-triangle-warning" style="color: #fc4343; font-size: 24px;"></i>
        <p style="color: white; font-size: 14px; margin: 0; line-height: 1.5;">
            {% if session.get('guest') %}
                <strong>Sesión temporal:</strong> Estás utilizando una cuenta de invitado. Todos los modelos que registres serán <strong>eliminados permanentemente</strong> en el momento en que cierres la sesión.
            {% else %}
                <strong>Política de retención de datos:</strong> Para mantener el sistema optimizado, cualquier modelo que permanezca inactivo (sin evaluar ni desplegar) durante <strong>40 días consecutivos</strong> será eliminado permanentemente.
            {% endif %}
        </p>
    </div>
</div>

<div id="uploadModal" class="modal-overlay">
    <div class="modal-card">
        <h3>Subir Nuevo Modelo</h3>
        <form action="{{ url_for('modelos.upload') }}" method="POST" enctype="multipart/form-data">
            <div class="form-group" style="margin-bottom: 20px;">
                <label for="archivo_modelo" style="margin-bottom: 10px;">1. Archivo del Modelo (.pkl)</label>
                <input type="file" name="archivo_modelo" id="archivo_modelo" accept=".pkl" required>
            </div>
            
            <div class="form-group" style="margin-bottom: 20px;">
                <label for="archivo_features" style="margin-bottom: 10px;">2. Configuración (features.npy)</label>
                <input type="file" name="archivo_features" id="archivo_features" accept=".npy" required>
            </div>

            <div class="modal-actions">
                <button type="button" class="btn-cancel" onclick="closeModal()">Cancelar</button>
                <button type="submit" class="action-btn">Subir Todo</button>
            </div>
        </form>
    </div>
</div>

<script>
    function openModal() {
        document.getElementById("uploadModal").style.display = "flex";
    }
    function closeModal() {
        document.getElementById("uploadModal").style.display = "none";
    }
</script>
{% endblock %}